main {
  padding-top: 120px;
}

.auctions-list {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;

}

@media screen and (max-width: 1024px) {
  .auctions-list {
    justify-content: space-around;
  }
}
